@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{
    var selection = Model.Ancestors().ToArray();
}


@if (selection?.Length > 0)
{
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb-list">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <li><a href="/home/">@item.Children().First().Name</a> <span class="divider">></span></li>
                }
                <li class="link-active">@Model.Name</li>
            </ul>
        </div>
    </div>
}